@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #fff;
}

.menu {
  list-style: none;
  line-height: 60px;
  margin: 2em;
  /*outline: 1px solid red;*/
  padding-left: 0;
  width: 15em;
}

.menu li {
  box-shadow: 3px 0 #77CFFF inset;
  padding-left: 1em;
  margin-bottom: 5px;
  transition: all .5s;
  /*outline: 1px solid green;*/
}

.menu li:hover {
  box-shadow: 15em 0 #77CFFF inset;
}

.menu button {
  color: #000;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.menu button:hover {
  margin-left: 1em;
  transition: all .6s;
}



